@import url("https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.shadow {
  box-shadow: #929090 0px 4px 6px -3px;
}

.input {
  width: 90%;
  height: 100%;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: transparent;
  border: 1px solid rgb(255, 215, 0);
  padding-left: 1rem;
}

.input:focus {
  outline: none;
  border: 1px solid rgb(255, 215, 0);
}

.shadow-gold {
  box-shadow: 0 0 15px 0 rgb(255, 215, 0);
}
